/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.btTabuleiro {
	-fx-font-size: 40px;
	-fx-font-weight: bold;
}

.painel {
	-fx-font-size: 30px;
	-fx-font-weight: bold;
	-fx-text-fill: #069;
}

.lbPlacar {
	-fx-font-size: 20px;
	-fx-text-fill: #000;
}

.placar {
	-fx-font-size: 30px;
	-fx-font-weight: bold;
	-fx-text-fill: #069;
}
.painel_sobre {
	-fx-background-color: #fff;
	-fx-border-style: solid;
  	-fx-border-color: #000;
  	-fx-border-width: 2.0;
}
